{{- define "title" -}}
  {{- .Title }}{{ if .Site.Params.withSiteTitle }} {{ .Site.Params.titleDelimiter }} {{ .Site.Title }}{{ end -}}
{{- end -}}

{{- define "content" -}}
  <div class="page home posts">
    <div class="header">
      <h1 class="single-title animate__animated animate__pulse animate__faster">
        {{- dict "Class" "fa-solid fa-feather me-1" | partial "plugin/icon.html" -}}
        {{- .Title }} <sup>{{ .Pages.Len }}</sup>
      </h1>
    </div>

    {{- $pages := .Pages -}}
    {{- with .Site.Params.home.posts.paginate | default .Site.Params.paginate -}}
      {{- $pages = $.Paginate $pages . -}}
    {{- else -}}
      {{- $pages = .Paginate $pages -}}
    {{- end -}}

    {{- range $pages.Pages -}}
      {{- .Render "summary" -}}
    {{- end -}}

    {{- partial "paginator.html" . -}}
  </div>
{{- end -}}
